.App {
  margin: 0;
}

.App .navbar-brand {
  font-weight: bold;
}

.container{
  width: 100%;
  padding: 0;
}

@font-face {
  font-family: FoundryGridnik-Bold;
  font-weight: bold;
  src: url("assets/FoundryGrid.otf") format("truetype");
}
.container *{
  font-family: 'FoundryGridnik-Bold','Droid Sans';
}
