.CheckingSolution {
  padding-top: 100px;
  text-align: center;
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0px;
  top: 0px;
  background-color: #3DA8B9;

}

.CheckingSolution .back {
  z-index: -1;
}

.CheckingSolution .front {
  z-index: 1;
}

.CheckingSolution .hello {
  color: white;
  text-align: center;
  position: absolute;
  bottom: 2em;
  font-size: 3em;
  font-family: 'FoundryGridnik-Bold','Droid Sans';
  animation-name: move;
  animation-duration: 15s;
}

.CheckingSolution .instructions {
  color: white;
  text-align: center;
  margin: auto;
  font-size: 3em;
  font-family: 'FoundryGridnik-Bold','Droid Sans';
}

/* The animation code */
@keyframes move {
  from {right:0;}
  to {right:800px;}
}

