.Signup__Container {
  background: #FAB042;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 2em;
}

.Signup__Form {
  border-radius: 10px;
  background-color: #fff;
  background-blend-mode: hard-light;
  background-repeat: no-repeat;
  background-size: 380px;
  border: 1px solid #c99240;
  box-shadow: 3px 3px #c99240, -0.5em 0 .4em #c99240;
  padding: 1em 3em;
  max-width: 650px;
  margin: 0 auto;
}

.signup-text {
  grid-area: signup;
  text-align: center;
  font-size: 50px;
  color: #40A8BA;
  font-family: 'FoundryGridnik-Bold','Droid Sans';
}

.signup-disclosure {
  grid-area: disclosure;
  padding-top: 10px;
  text-align: center;
  color: #aaaaaa;
}

.Signup_Input {
  grid-area: input_fields;
  padding-top: 30px;
  font-family: 'FoundryGridnik-Bold','Droid Sans';
}

.Signup__FirstName, .Signup__LastName, .Signup__Email {
  position: relative;
}

.Signup__FirstName__Input, .Signup__LastName__Input, .Signup__Email__Input {
  margin-bottom: 25px;
  text-indent: 5px;
  padding: 0.2em 0;
  border: none;
  border-bottom: 1px solid #aaaaaa;
  width: 100%;
  height: 40px;
  background-color: transparent;
  color: #aaaaaa;
}

.Signup__LoaderBtn__Container {
  grid-area: btn_container;
  padding: 50px 20px 20px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'FoundryGridnik-Bold','Droid Sans';
}

.Signup__LoaderBtn {
  flex: 1 1 auto;
  padding: 20px;
  text-align: center;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  font-family: 'FoundryGridnik-Bold','Droid Sans';
  font-size: 20px;
  background-image: linear-gradient(to right, #40A8BA 0%, #47BDD1 51%, #40A8BA 100%);
}

.Signup__LoaderBtn:hover {
  background-position: right center;
  text-decoration: none;
  color: #fff;
  cursor: pointer;
}

.warning-message{
  text-align: center;
  width:100%;
}

.Instruction-Container{
  background: #40A8BA;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 2em;
}
.Instruction{
  grid-area: 2/2/3/3;
  display: grid;
  border-radius: 10px;
  background-color: #fff;
  background-blend-mode: hard-light;
  background-repeat: no-repeat;
  border: 1px solid #42A7BB;
  box-shadow: 3px 3px #666, -0.5em 0 .4em #42A7BB;
  padding: 1em 3em;
  max-width: 650px;
  margin: 0 auto;
}

.Instruction li b{
  color: #42A7BB;
}
.Instruction h3{
  color:  #42A7BB;
  font-family: 'FoundryGridnik-Bold','Droid Sans';
}
.colour-code li{
  list-style: none;
  display: inline-block;
  line-height: 2em;
  margin-right: 1em;
  margin-bottom: 0.5em;
  padding: 0.2em;
  text-align: center;
}
.colour-code li:nth-of-type(1){
  background-color: #E18826;
}
.colour-code li:nth-of-type(2){
  background-color:#AAB2AC;
}
.colour-code li:nth-of-type(3){
  background-color:#3DA8B9;
}
.colour-code li:nth-of-type(4){
  background-color:#594197;
  color: white;
}
.colour-code li:nth-of-type(5){
  background-color:#CF3629;
  color: white;
}
.colour-code li:nth-of-type(6){
  background-color:#56B94B;
}