
.Welcome {
  padding-top: 100px;
  text-align: center;
}

.Welcome .stretch {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0px;
  top: 0px;
}

.Welcome .back {
  z-index: -1;
}

.Welcome .front {
  z-index: 1;
}

.Welcome .hello {
  color:#3DA8B9;
  text-align: center;
  padding-top: 15%;
  margin: auto;
  font-size: 3em;
  font-family: 'FoundryGridnik-Bold','Droid Sans';
}

.Welcome .instructions {
  color:black;
  text-align: center;
  margin: auto;
  font-size: 2.5em;
  font-family: 'FoundryGridnik-Bold','Droid Sans';
}

