.gameTimer {
  z-index: 1;
  position: absolute;
  left:2em;
  top:0.5em;
  font-size: 2.5em;
  font-family: 'FoundryGridnik-Bold','Droid Sans';
}

.playerScore{
  z-index: 1;
  position: absolute;
  top:0.5em;
  right:2em;
  font-size: 2em;
  font-family: 'FoundryGridnik-Bold','Droid Sans';
  width: 10em;
}

.finalScore{
  z-index: 1;
  width: 100%;
  text-align: center;
  position: absolute;
  top:45%;
  right:2em;
  font-size: 3em;
  font-family: 'FoundryGridnik-Bold','Droid Sans';
}