.Leaderboard {
  background-color: #42A7BB;
  padding:10%;
  /* border-radius: 10px; */
  /* box-shadow: 0 7px 30px rgba(62, 9, 11, .3); */
  font-family: 'FoundryGridnik-Bold','Droid Sans';
}

#left-panel{
  width: 15%;
  float: left;
}

#left-panel img{
  width: 60%;
}

.Leaderboard__Table {
  font-family: 'FoundryGridnik-Bold','Droid Sans';
  /* border-collapse: collapse; */
  width: 85%;
  font-size: 1.5em;
  font-weight:bold;
}

.Leaderboard__Table th{
  color: white;
  padding-bottom: 1em;
  padding-left: 1em;
}

.Leaderboard__Table td{
  border: 2px solid #42A7BB;
  background-color: white;
  color: black;
  padding-left: 1em;
  line-height: 2.5em;
}

.Leaderboard__Table td.number{
  background-color: black;
  color: white;
  width: 2.5em;
  padding: 0;
  text-align: center;
}

.Leaderboard__Table td.player-name{
  width: 50%;
}

.Leaderboard__Table td.level{
  width: 25%;
}

/* .Leaderboard__Table td, .Leaderboard__Table th {
  border: 1px solid #ddd;
  padding: 8px;
}

.Leaderboard__Table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.Leaderboard__Table tr:nth-child(2), tr:nth-child(3), tr:nth-child(4) {
  font-weight: bold;
}

.Leaderboard__Table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #40A8BA;
  color: white;
} */